<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/posts/new" method="POST">
    <div>
      <label>이름</label>
      <input type="text" name="name" required />
    </div>
    <div>
      <label>질문1</label>
      <input type="text" name="a1" required />
      <textarea name="d1" id="" cols="50" rows="10"></textarea>
    </div>
    <div>
      <label>질문2</label>
      <input type="text" name="a2" required />
      <textarea name="d2" id="" cols="50" rows="10"></textarea>
    </div>
    <div>
      <label>질문3</label>
      <input type="text" name="a3" required />
      <textarea name="d3" id="" cols="50" rows="10"></textarea>
    </div>
    <div>
      <label>질문4</label>
      <input type="text" name="a4" required />
      <textarea name="d4" id="" cols="50" rows="10"></textarea>
    </div>
    <div>
      <label>질문5</label>
      <input type="text" name="a5" required />
      <textarea name="d5" id="" cols="50" rows="10"></textarea>
    </div>
    <div>
      <label>질문6</label>
      <input type="text" name="a6" required />
      <textarea name="d6" id="" cols="50" rows="10"></textarea>
    </div>
    <div>
      <label>질문7</label>
      <input type="text" name="a7" required />
      <textarea name="d7" id="" cols="50" rows="10"></textarea>
    </div>
    <div>
      <label>질문8</label>
      <input type="text" name="a8" required />
      <textarea name="d8" id="" cols="50" rows="10"></textarea>
    </div>
    <div>
      <label>질문9</label>
      <input type="text" name="a9" required />
      <textarea name="d9" id="" cols="50" rows="10"></textarea>
    </div>
    <div>
      <label>질문10</label>
      <input type="text" name="a10" required />
      <textarea name="d10" id="" cols="50" rows="10"></textarea>
    </div>

    <button type="submit">작성</button>
  </form>
</body>

</html>